services:
  db:
    image: postgres:16
    container_name: gitmaze-db
    environment:
      POSTGRES_DB: gitmaze
      POSTGRES_USER: gitmaze
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U gitmaze -d gitmaze"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: gitmaze-app
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/gitmaze
      - SPRING_DATASOURCE_USERNAME=gitmaze
      - SPRING_DATASOURCE_PASSWORD=1234
    depends_on:
      db:
        condition: service_healthy
    restart: always

networks:
  default:
    name: gitmaze-network
