spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gitmaze
    username: gitmaze 
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  # JSON 데이터를 다루기 위한 설정 (Hibernate 6 기준)
  jackson:
    serialization:
      fail-on-empty-beans: false